/*===== VARIABLES CSS =====*/ :root {
  --header-height: 3rem;
  /*========== Colors ==========*/
  --title-color: #0b0a0a;
  --text-color: #403a3a;
  --text-color-light: #707070;
  --container-color: #fafafa;
  --container-color-alt: #f0efef;
  --body-color: #fcfcfc;
  /*========== Font and typography ==========*/
  --body-font: 'Montserrat', sans-serif;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.813rem;
  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;
  /*========== Margenes ==========*/
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}
/*========== BASE ==========*/
*,
::before,
::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0 0 var(--header-height) 0;
  padding: 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--text-color);
  background-color: var(--container-color-alt);
}
@media screen and (min-width: 968px) {
  body {
    margin: 3rem 0;
    background-color: var(--body-color);
  }
}
h1,
h2,
h3,
ul,
p {
  margin: 0;
}
h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-medium);
}
ul {
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
/*========== Variables Dark theme ==========*/
body.dark-theme {
  --title-color: #f2f2f2;
  --text-color: #bfbfbf;
  --container-color: #212121;
  --container-color-alt: #181616;
  --body-color: #2b2b2b;
}
/*========== Button Dark/Light ==========*/
.change-theme {
  position: absolute;
  left: 0;
  top: 2.2rem;
  display: flex;
  color: var(--text-color);
  font-size: 1.2rem;
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  border: none;
}
.change-theme:hover {
  color: var(--title-color);
}
/* Download button*/
.home__button {
  font-size: 1.2rem;
  cursor: pointer;
  color: var(--text-color);
  font-weight: var(--font-medium);
  fill: var(--text-color);
}
.home__button:hover {
  fill: var(--title-color);
}
/*========== Generate PDF button ==========*/
.generate-pdf {
  display: none;
  position: absolute;
  top: 2.2rem;
  right: 0;
  font-size: 1.2rem;
  color: var(--text-color);
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  border: none;
}
@media screen and (min-width: 968px) {
  .generate-pdf {
    display: flex;
  }
}
.generate-pdf:hover {
  color: var(--title-color);
}
/*========== Link to Resume site ==========*/
.link-resume {
  position: absolute;
  left: 0;
  top: 1rem;
  display: none;
  color: var(--text-color);
  font-size: 1.2rem;
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  border: none;
}
.link-resume:hover {
  color: var(--title-color);
}
/*========== CLASS CSS ==========*/
.section {
  padding: 1.5rem 0;
}
.section-title {
  font-size: var(--h2-font-size);
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  text-transform: uppercase;
  letter-spacing: 0.35rem;
  text-align: center;
  margin-bottom: var(--mb-3);
}
@media screen and (min-width: 968px) {
  .section-title {
    text-align: initial;
  }
}
/*========== LAYOUT ==========*/
.bd-container {
  max-width: 968px;
  width: calc(100% - 3rem);
  margin-left: var(--mb-3);
  margin-right: var(--mb-3);
}
@media screen and (min-width: 968px) {
  .bd-container {
    margin-left: auto;
    margin-right: auto;
  }
}
.bd-grid {
  display: grid;
  flex-grow: 1;
  gap: 1rem;
}
.l-header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--container-color-alt);
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}
@media screen and (min-width: 968px) {
  .l-header {
    display: none;
  }
}
.external-link-icon {
  font-size: 0.6rem;
  fill: var(--text-color-light);
}
/*========== Dovnload PDF button ==========*/
.home__button-movil {
  display: inline-block;
  border: 2px solid var(--text-color);
  color: var(--title-color);
  padding: 1rem 2rem;
  border-radius: 0.25rem;
  transition: 0.3s;
  font-weight: var(--font-medium);
  margin-top: var(--mb-3);
}
.home__button-movil:hover {
  background-color: var(--text-color);
  color: var(--container-color);
}
@media screen and (min-width: 968px) {
  .home__button-movil {
    display: none;
  }
}
/*========== NAV ==========*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__menu {
  position: fixed;
  bottom: -100%;
  left: 0;
  width: 100%;
  padding: 2rem 1.5rem;
  background-color: var(--container-color-alt);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  border-radius: 1rem 1rem 0 0;
  z-index: var(--z-fixed);
  transition: 0.3s;
}
@media screen and (min-width: 968px) {
  .nav__menu {
    display: none;
  }
}
.nav__logo,
.nav__toggle {
  color: var(--title-color);
  font-weight: var(--font-medium);
}
.nav__toggle {
  font-size: 1.2rem;
  cursor: pointer;
}
.nav__item {
  text-align: center;
}
.nav__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
@media screen and (max-width: 320px) {
  .nav__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 500px) and (max-width: 967px) {
  .nav__list {
    grid-template-columns: repeat(4, 1fr);
  }
}
.nav__link {
  display: flex;
  flex-direction: column;
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
  font-weight: var(--font-medium);
}
.nav__link:hover {
  color: var(--title-color);
}
.nav__icon {
  font-size: 1.2rem;
  margin-bottom: var(--mb-1);
}
/* Show menu */
.show-menu {
  bottom: var(--header-height);
}
/* Active menu link */
.active-link {
  color: var(--title-color);
}
/*==== Бургер меню ====*/
.nav__btn {
  position: absolute;
  right: 25px;
  width: 17px;
  height: 17px;
  cursor: pointer;
  align-items: center;
  display: flex;
}
.burger,
.burger:before,
.burger:after {
  width: 100%;
  position: absolute;
  height: 2px;
  background: var(--text-color);
  display: block;
  transition: 0.3s;
  border-radius: 5px;
}
.burger:hover,
.burger:hover:before,
.burger:hover:after {
  background: var(--title-color);
}
.burger:before {
  content: '';
  top: -6px;
  transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
.burger:after {
  content: '';
  bottom: -6px;
  transition: bottom 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
.burger.active:before {
  content: '';
  top: 0px;
  transform: rotate(45deg);
  transition: top 300ms, transform 300ms 300ms
    cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.burger.active:after {
  content: '';
  bottom: 0;
  transform: rotate(-45deg);
  transition: bottom 300ms, transform 300ms 300ms
    cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.burger.active {
  background: var(--container-color-alt);
}
/* Classes modified for large screen size */
@media screen and (min-width: 968px) {
  .resume {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    background-color: var(--container-color);
    box-shadow: 0 0 8px rgba(13, 12, 12, 0.15);
  }
  .resume__left {
    background-color: var(--container-color-alt);
  }
  .resume__left,
  .resume__right {
    padding: 0 1.5rem;
  }
}
/*========== HOME ==========*/
.home {
  position: relative;
}
.home__container {
  gap: 3rem;
}
@media screen and (min-width: 968px) {
  .home__container {
    gap: 1.5rem;
  }
}
.home__data {
  gap: 0.5rem;
  text-align: center;
}
.home__section {
  height: 200px;
}
.home__img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  justify-self: center;
  background-image: radial-gradient(
    var(--container-color-alt),
    var(--text-color-light)
  );
}
.home__img[tabindex='0']:focus {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: auto;
  height: auto;
  max-width: 99%;
  max-height: 99%;
  margin: auto;
  box-shadow: 0 0 20px #000, 0 0 0 100vh rgba(0, 0, 0, 0.5);
  border-radius: 0%;
  transition: 0.1s;
}
.home__img[tabindex='0']:focus,
.home__img[tabindex='0']:focus ~ * {
  pointer-events: none;
  cursor: zoom-out;
}
.home__title {
  font-size: var(--h1-font-size);
  text-transform: uppercase;
}
.home__profession {
  font-size: var(--normal-font-size);
}
.home__address {
  font-style: normal;
  gap: 1rem;
}
.home__icon {
  display: flex;
  font-size: 1.2rem;
}
.home__link {
  display: inline-flex;
  gap: 0.25rem;
  align-items: center;
  font-size: var(--small-font-size);
  color: var(--text-color);
  fill: var(--text-color);
}
.home__link:hover {
  color: var(--title-color);
}
/*========== DESCRIPTION ==========*/
.summary__description,
.project__description,
.experience__description,
.courses__description,
.certificate__description {
  text-align: justify;
}
/*========== SOCIAL AND INTERESTS==========*/
.social__container,
.interests__container {
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
@media screen and (min-width: 500px) and (max-width: 967px) {
  .social__container,
  .interests__container {
    grid-template-columns: repeat(4, 1fr);
  }
}
.social__link {
  display: inline-flex;
  gap: 0.5rem;
  align-items: center;
  font-size: var(--small-font-size);
  color: var(--text-color);
}
.social__link:hover {
  color: var(--title-color);
}

.interests {
  display: flex;
  gap: 5px;
}

.social__icon,
.interests__icon {
  display: flex;
  font-size: 1.2rem;
  vertical-align: top;
}
/*========== SKILLS AND LANGUAGES ==========*/
.skills__container,
.languages__container {
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
@media screen and (min-width: 500px) and (max-width: 967px) {
  .skills__container,
  .languages__container {
    grid-template-columns: repeat(4, 1fr);
  }
}
.skills__name,
.languages__name {
  display: flex;
  align-items: center;
}
.skills__circle::before,
.languages__circle::before {
  content: '';
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: var(--text-color);
  border-radius: 50%;
  margin-right: 0.5rem;
  margin-bottom: 0.2rem;
}
/*========== EDUCATION - PROJECT - EXPERIENCE - COURSES - CERTIFICATES ==========*/
.project__link {
  color: var(--text-color);
}
.project__link:hover {
  color: var(--title-color);
}
.project__icon {
  display: flex;
  font-size: 1.2rem;
  vertical-align: top;
}

.education__content,
.project__content,
.experience__content,
.courses__content,
.certificate__content {
  display: flex;
}
.education__rounder,
.project__rounder,
.experience__rounder,
.courses__rounder,
.certificate__rounder {
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  background-color: var(--text-color-light);
  border-radius: 50%;
  margin-top: 0.1rem;
  margin-right: 1rem;
}
.education__line,
.project__line,
.experience__line,
.courses__line,
.certificate__line {
  display: block;
  width: 2px;
  height: 110%;
  background-color: var(--text-color);
  transform: translate(7px, 0);
}
.education__data,
.project__data,
.experience__data,
.courses__data,
.certificate__data {
  gap: 0.5rem;
}
.project__data div {
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
}
.education__title,
.project__title,
.experience__title,
.courses__title,
.courses__title,
.certificate__title {
  display: inline;
  font-size: var(--h3-font-size);
  margin-right: auto;
}
.education__company,
.project__company,
.experience__company,
.courses__company,
.certificate__company {
  font-size: var(--small-font-size);
  color: var(--text-color);
}
.education__year {
  font-size: var(--smaller-font-size);
}
/* Scroll top */
.scrolltop {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem;
  background-color: var(--container-color-alt);
  border-radius: 0.4rem;
  z-index: var(--z-tooltip);
  transition: 0.4s;
  visibility: hidden;
  box-shadow:
    0px 1px 3px 0px rgba(112, 112, 112, 0.2),
    0px 1px 1px 0px rgba(112, 112, 112, 0.14),
    0px 2px 1px -1px rgba(112, 112, 112, 0.12);
}
@media screen and (min-width: 968px) {
  .scrolltop {
    display: none;
  }
}
.scrolltop__icon {
  font-size: 1.2rem;
  color: var(--text-color);
}
.show-scroll {
  visibility: visible;
  bottom: 5rem;
}
/*========== Classes modified to reduce size and print on A4 sheet ==========*/
.scale-cv .change-theme,
.scale-cv .generate-pdf {
  display: none;
}
.scale-cv .link-resume {
  display: flex;
}
.scale-cv .bd-container {
  max-width: 595px;
}
.scale-cv .section {
  padding: 0.75rem 0 0 0;
}
.scale-cv .section-title {
  margin-bottom: 0.5rem;
}
.scale-cv .resume__left,
.scale-cv .resume__right {
  padding: 0 1rem;
}
.scale-cv .home__img {
  width: 100px;
  height: 100px;
}
.scale-cv .home__section {
  height: 100px;
}
.scale-cv .home__container {
  gap: 1rem;
}
.scale-cv .home__data {
  gap: 0.25rem;
}
.scale-cv .home__address,
.scale-cv .social__container,
.scale-cv .interests__container,
.scale-cv .languages__container,
.scale-cv .skills__container,
.scale-cv .education__container,
.scale-cv .project__container,
.scale-cv .experience__container,
.scale-cv .courses__container,
.scale-cv .certificate__container {
  gap: 0.5rem;
}
.scale-cv .home__icon,
.scale-cv .social__icon,
.scale-cv .interests__icon {
  font-size: 1rem;
}
.scale-cv .interests__container,
.scale-cv .skills_container_,
.scale-cv .languages__container {
  font-size: var(--small-font-size);
}
.scale-cv .education__time,
.scale-cv .project__time,
.scale-cv .experience__time,
.scale-cv .courses__time,
.scale-cv .certificate__time {
  padding-right: 0.5rem;
}
.scale-cv .education__rounder,
.scale-cv .project__rounder,
.scale-cv .experience__rounder,
.scale-cv .courses__rounder,
.scale-cv .certificate__rounder {
  width: 11px;
  height: 11px;
  margin-top: 0.22rem;
}
.scale-cv .education__line,
.scale-cv .project__line,
.scale-cv .experience__line,
.scale-cv .courses__line,
.scale-cv .certificate__line {
  width: 1px;
  height: 110%;
  transform: translate(5px, 0);
}
.scale-cv .education__data,
.scale-cv .project__data,
.scale-cv .experience__data,
.scale-cv .courses__data,
.scale-cv .certificate__data {
  gap: 0.25rem;
}
/*========== Font size variables to scale cv ==========*/
body.scale-cv {
  --h1-font-size: 0.938rem;
  --h2-font-size: 0.938rem;
  --h3-font-size: 0.875rem;
  --normal-font-size: 0.813rem;
  --small-font-size: 0.75rem;
  --smaller-font-size: 0.688rem;
}
